@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'OpenSans',Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #1c2c40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,
textarea,
select {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a {
	color: #1c2c40;
}
a:hover,
.submit:hover {
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb {
	display: block;
}
.thumb img {
	display: block;
	width: 100%;
}
p {
	line-height: 30px;
	font-size: 16px;
	font-family: Arial;
	font-weight: 400;
}

.hidden {
	display: none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1300px;
}
#home {
}
#home header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	align-items: center;
}
#home header h1.left {
	width: 200px;
}
#home header h1.left a {
	display: block;
}
#home header h1.left a img {
	width: 100%;
	display: block;
}
#home header nav {
}
#home header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#home header nav ul li {
	margin-right: 30px;
}
#home header nav ul li:last-child {
	margin-right: 0;
}
#home header nav ul li a {
	font-size: 16px;
	font-weight: 400;
}
#home header nav ul li a.button {
	padding: 20px 30px;
	background: linear-gradient(to right, #31aafa, #00f0fc);
	color: #ffffff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	display: inline-block;
}
#spotlight {
	display: flex;
	justify-content: space-between;
	justify-content: wrap;
	margin-top: 140px;
	margin-bottom: 140px;
	flex-wrap: wrap;
}
#spotlight div.left {
	width: 50%;
	padding-right: 50px;
}
#spotlight div.left span small {
	width: 60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid #35a9f9;
}
#spotlight div.left span {
	margin-bottom: 30px;
	color: #9e9e9e;
	text-transform: uppercase;
}
#spotlight div.left h1 {
	font-size: 55px;
	font-weight: 800;
	color: #1b1661;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 30px;
}
#spotlight div.left p {
	color: #c0c0c0;
	line-height: 30px;
	margin-bottom: 50px;
}
#spotlight div.left a.button {
	margin-right: 50px;
	padding: 15px 30px;
	border: 2px solid #468bbc;
	color: #468bbc;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	font-family: "Open Sans", sans-serif;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	display: inline-block;
}
#spotlight div.left a.button:last-child {
	margin-right: 0;
}
#spotlight div.left a.button.bg {
	background: linear-gradient(to right, #31aafa, #00f0fc);
	border: none;
	color: #ffffff;
}
#spotlight div.right {
	width: 50%;
	box-sizing: border-box;
}
#spotlight div.right img {
	width: 100%;
	display: inline-block;
}
#feature {
}
#feature section.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
#feature div.left {
	width: 35%;
}
#feature div.left h2 {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	margin-bottom: 30px;
	max-width: 380px;
	font-weight: 800;
}
#feature div.left p {
	color: #c0c0c0;
	max-width: 300px;
	margin-bottom: 30px;
}
#feature div.left a.button {
	/* margin-right: 50px; */
	margin-top: 10px;
	padding: 15px 30px;
	color: #fff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	font-family: "Open Sans", sans-serif;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	background: linear-gradient(to right, #31aafa, #00f0fc);
	display: inline-block;
}
#feature div.right {
	width: 65%;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
#feature div.right div.items {
	width: 31%;
	border: 1px solid #35a9f9;
	padding: 70px 25px;
	text-align: center;
}
#feature div.right div.items span {
	display: block;
	width: 70px;
	height: 70px;
	background-color: #35a9f9;
	margin: 0 auto;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
#feature div.right div.items span img {
	display: block;
	margin: 0 auto;
}
#feature div.right div.items h4 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}
#feature div.right div.items p {
	font-size: 15px;
	line-height: 20px;
	color: #c0c0c0;
}
#about {
	margin: 120px 0;
}
#about section.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#about div.left {
	width: 45%;
}
#about div.left img {
	display: block;
	width: 110%;
}
#about div.right {
	width: 50%;
	padding-left: 100px;
}
#about div.right h6 {
	margin-bottom: 30px;
	color: #9e9e9e;
	font-size: 16px;
}
#about div.right h6 small {
	width: 60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid #35a9f9;
}
#about div.right h2 {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	margin-bottom: 30px;
	max-width: 380px;
	font-weight: 800;
}
#about div.right p {
	color: #c0c0c0;
	max-width: 500px;
	margin-bottom: 30px;
}
#about div.right a.button {
	margin-right: 50px;
	padding: 15px 30px;
	color: #fff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	background: linear-gradient(to right, #31aafa, #00f0fc);
}
#count {
	margin: 180px 0;
	background: linear-gradient(to right, #31aafa, #00f0fc);
	padding: 140px 0;
}
#count ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}
#count ul li {
	text-align: center;
}
#count ul li span {
	font-size: 60px;
	font-weight: 800;
	color: #fff;
}
#count ul li small {
	display: inline-block;
	width: 80px;
	border-bottom: 3px solid #fff;
	margin-bottom: 10px;
	margin-top: 10px;
}
#count ul li p {
	font-size: 24px;
	color: #fff;
}
#courses {
	margin-bottom: 120px;
}
#courses section.title {
	text-align: center;
	margin-bottom: 120px;
}
#courses section.title h6 {
	color: #9e9e9e;
	font-size: 16px;
	text-transform: uppercase;
}
#courses section.title h6 small {
	width: 60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid #35a9f9;
}
#courses section.title h2 {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	max-width: 380px;
	font-weight: 800;
	margin: 0 auto;
	margin-top: 10px;
}
#courses section.content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#courses section.content div.items {
	width: 31%;
	box-sizing: border-box;
	border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-ms-border-radius: 20px 20px 0 0;
	-o-border-radius: 20px 20px 0 0;
	border: 1px solid #35a9f9;
}
#courses section.content div.items div.top {
	width: 100%;
}
#courses section.content div.items div.top img {
	border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-ms-border-radius: 20px 20px 0 0;
	-o-border-radius: 20px 20px 0 0;
	width: 100%;
}
#courses section.content div.items div.middle {
	margin: 30px;
	border-bottom: 0.5px dotted #d4d4d4;
}
#courses section.content div.items div.middle div.content_top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
#courses section.content div.items div.middle div.content_top a.button {
	background-color: #35a9f9;
	padding: 7px 20px;
	color: #ffffff;
	display: inline-block;
}
#courses section.content div.items div.middle div.content_top span {
	font-size: 18px;
	font-weight: 600;
	color: #2079b2;
}
#courses section.content div.items div.middle h3 {
	color: #2079b2;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}
#courses section.content div.items div.middle p {
	font-size: 15px;
	line-height: 20px;
	color: #c0c0c0;
	margin-bottom: 30px;
}
#courses section.content div.items div.bottom {
	margin: 30px;
	display: flex;
	align-items: center;
}
#courses section.content div.items div.bottom div.img_container {
	margin-right: 10px;
}
#courses section.content div.items div.bottom div.img_container img {
	width: 100%;
}
#courses section.content div.items div.bottom ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#courses section.content div.items div.bottom ul li {
}
#courses section.content div.items div.bottom ul li small {
	font-size: 14px;
	color: #c0c0c0;
}
#courses section.content div.items div.bottom ul li h5 {
	font-size: 15px;
	font-weight: 600;
	color: #2079b2;
}
#advance_features {
	margin-top: 200px;
}
#advance_features section.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#advance_features div.left {
	width: 55%;
	padding-right: 80px;
	box-sizing: border-box;
}
#advance_features div.left div.top {
}
#advance_features div.left div.top h6 {
	color: #9e9e9e;
	font-size: 16px;
	text-transform: uppercase;
}
#advance_features div.left div.top h6 small {
	width: 60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid #35a9f9;
}
#advance_features div.left div.top h2 {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	max-width: 500px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 20px;
}
#advance_features div.left div.top p {
	font-size: 15px;
	line-height: 20px;
	color: #c0c0c0;
	margin-bottom: 30px;
	max-width: 550px;
}
#advance_features div.left div.bottom {
}
#advance_features div.left div.bottom ul {
	display: flex;
	justify-content: space-between;
}
#advance_features div.left div.bottom ul li {
	width: 45%;
}
#advance_features div.left div.bottom ul li span {
	width: 70px;
	height: 70px;
	background-color: #00a6f4;
	display: inline-block;
	display: flex;
	align-items: center;
	border-radius: 50% !;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-right: 10px;

	border-bottom: 2px solid #35a9f9;
	margin-bottom: 30px;
}
#advance_features div.left div.bottom ul li span img {
	margin: 0 auto;
}
#advance_features div.left div.bottom ul li h4 {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #2079b2;
}
#advance_features div.left div.bottom ul li p {
	font-size: 16px;
	line-height: 30px;
}
#advance_features div.right {
	width: 45%;
}
#advance_features div.right img {
	width: 100%;
	display: block;
}
#testimonial {
	margin-top: 120px;
	margin-bottom: 120px;
}
#testimonial section.top {
	text-align: center;
}
#testimonial section.top h6 {
	color: #9e9e9e;
	font-size: 16px;
	text-transform: uppercase;
}
#testimonial section.top h6 small {
	width: 60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid #35a9f9;
}
#testimonial section.top h2 {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 100px;
}
#testimonial section.content {
	display: flex;
	justify-content: center;
	align-items: center;
}
#testimonial section.content div.image {
	width: 300px;
}
#testimonial section.content div.image img {
	width: 100%;
	display: block;
}
#testimonial section.content div.content {
	max-width: 600px;
	padding: 50px;
	margin: 50px;
	box-shadow: 0px 0px 46px -1px rgba(199, 197, 199, 1);
	padding-bottom: 20px;
}
#testimonial section.content div.content small {
	font-size: 16px;
	font-style: italic;
	line-height: 30px;
	color: #c0c0c0;
}
#testimonial section.content div.content h5 {
	font-size: 20px;
	font-weight: 600;
	color: #2079b2;
}
#testimonial section.content div.content span {
	text-align: right;
	display: block;
}
#blog {
	margin-bottom: 250px;
}
#blog section.top {
	text-align: center;
	margin: 0 auto;
}
#blog section.top h6 {
	color: #9e9e9e;
	font-size: 16px;
	text-transform: uppercase;
}
#blog section.top h6 small {
	width: 60px;
	margin-right: 10px;
	display: inline-block;
	border-bottom: 2px solid #35a9f9;
}
#blog section.top h2 {
	font-size: 40px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 100px;
}
#blog section.content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#blog section.content div.items {
	width: 30%;
	border: 1px solid #35a9f9;
	border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-ms-border-radius: 20px 20px 0px 0px;
	-o-border-radius: 20px 20px 0px 0px;
}
#blog section.content div.items div.top {
	width: 100%;
}
#blog section.content div.items div.top img {
	border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-ms-border-radius: 20px 20px 0px 0px;
	-o-border-radius: 20px 20px 0px 0px;
	width: 100%;
}
#blog section.content div.items div.middle {
	margin: 30px;
	border-bottom: 0.5px dotted #d4d4d4;
}
#blog section.content div.items div.middle h3 {
	background-color: #35a9f9;
	padding: 7px 20px;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 30px;
}
#blog section.content div.items div.middle h4 {
	margin-bottom: 30px;
}
#blog section.content div.items div.middle h4 a {
	color: #35a9f9;
}
#blog section.content div.items div.middle p {
	font-size: 15px;
	line-height: 20px;
	color: #c0c0c0;
	margin-bottom: 30px;
	max-width: 550px;
}
#blog section.content div.items div.bottom {
	margin: 30px;
}
#blog section.content div.items div.bottom ul {
	display: flex;
	justify-content: space-between;
}
#blog section.content div.items div.bottom ul li {
}
#blog section.content div.items div.bottom ul li span {
	color: #c0c0c0;
	display: inline-block;
	display: flex;
	align-items: center;
}
#blog section.content div.items div.bottom ul li span img {
	margin-right: 8px;
}
footer {
}
footer section.top {
	padding-bottom: 120px;
	border-bottom: 1px solid #c0c0c0;
}
footer section.top section.wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
footer section.top div.logo {
	max-width: 200px;
}
footer section.top div.logo img {
	width: 100%;
}
footer section.top div.logo p {
	font-size: 14px;
	line-height: 20px;
	color: #c0c0c0;
	margin-top: 15px;
}
footer section.top div.contact {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1200px;
}
footer section.top div.contact div.left {
	width: 50%;
	max-width: 500px;
	margin-right: 100px;
}
footer section.top div.contact div.left h3 {
	font-size: 30px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
}
footer section.top div.contact div.left p {
	font-size: 14px;
	line-height: 20px;
	color: #c0c0c0;
	margin-top: 15px;
}
footer section.top div.contact div.left form {
	width: 100%;
	border: 1px solid#2a7db4;
	display: flex;
	align-items: center;
	margin-top: 30px;
}
footer section.top div.contact div.left form input {
	flex: 1;
	padding: 10px;
}
footer section.top div.contact div.left form button {
	background: linear-gradient(to right, #31aafa, #00f0fc);
	padding: 8px 15px;
	margin: 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
footer section.top div.contact div.left form button img {
}

footer section.top div.contact div.left span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #9a9a9a;
	text-align: center;
	margin-top: 20px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}
footer section.top div.contact div.left span img {
	margin: 0 auto;
}
footer section.top div.contact div.right {
	width: 50%;
	max-width: 350px;
}
footer section.top div.contact div.right h3 {
	font-size: 30px;
	font-family: "Open Sans", sans-serif;
	color: #1b1661;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
}
footer section.top div.contact div.right p {
	font-size: 16px;
	line-height: 20px;
	color: #2a7db4;
	margin-top: 15px;
}
footer section.top div.contact div.right p a {
	color: #c0c0c0;
}
footer section.top div.contact div.right p small {
	font-size: 16px;
	color: #c0c0c0;
}
footer section.bottom {
	text-align: center;
	padding: 20px;
	color: #c0c0c0;
}

@media all and (max-width: 1200px) {
	#spotlight div.left a.button {
		margin-right: 10px;
	}
	#feature div.right {
		padding-left: 5px;
		padding-right: 5px;
	}
	#feature div.right div.items {
		padding-right: 10px;
		padding-left: 10px;
	}
	#testimonial section.content div.content {
		margin: 10px;
		padding: 10px;
	}
}
@media all and (max-width: 1024px) {
	#home header nav {
		width: 70%;
	}
	#spotlight {
		margin-top: 80px;
	}
	#spotlight div.left h1 {
		font-size: 40px;
	}
	#count {
		padding: 140px 20px;
	}
	#courses section.content div.items div.middle div.content_top a.button {
		margin-right: 5px;
	}
	#testimonial section.content {
		flex-wrap: wrap;
	}
	#testimonial section.content div.content {
		box-shadow: none;
	}
	#testimonial section.content div.image {
		margin: 0 auto;
	}
}
@media all and (max-width: 900px) {
	#home header nav {
		display: none;
	}
	#home header h1.left {
		margin: 0 auto;
	}
	#spotlight div.left {
		width: 100%;
		padding-right: 0;
	}
	#spotlight div.right {
		width: 100%;
	}
	#spotlight div.left span {
		font-size: 12px;
	}
	#spotlight div.left a.button {
		/* font-size: 14px; */
		padding: 15px 20px;
		margin-bottom: 30px;
	}
	#feature div.left {
		width: 100%;
		text-align: center;
	}
	#feature div.left h2,
	#feature div.left p {
		margin: 0 auto;
	}
	#feature div.right {
		width: 100%;
	}
	#courses section.content div.items {
		width: 48%;
		margin-bottom: 30px;
		margin: 0 auto 30px;
	}
	#advance_features div.left,
	#advance_features div.right {
		width: 100%;
	}
	#blog section.content div.items {
		width: 48%;
		margin: 0 auto 30px;
	}
	#about div.right,
	#about div.left {
		width: 100%;
	}
	#about div.left img {
		width: 100%;
	}
	#blog {
		margin-bottom: 50px;
	}
	#advance_features div.left div.bottom ul {
		width: 100%;
		text-align: center;
	}
	#advance_features div.left div.bottom ul li span {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	#advance_features div.left {
		padding: 0;
	}
	#about div.left img {
		margin-bottom: 30px;
	}
	#advance_features div.left div.top {
		margin-bottom: 30px;
	}
	footer section.top div.contact div.left,
	footer section.top div.contact div.right {
		width: 100%;
		margin-right: 0;
	}
	footer section.top div.logo {
		width: 100%;
	}
}
@media all and (max-width: 768px) {
	#count ul li span {
		font-size: 45px;
	}
	#count ul li p {
		font-size: 16px;
	}
	#about div.right {
		padding-left: 0;
	}
	#about div.right h6 {
		margin-bottom: 10px;
	}
	#courses section.content div.items {
		width: 100%;
	}
	#testimonial {
		margin-bottom: 0;
	}
	#advance_features {
		margin-top: 150px;
	}
	#blog section.content div.items {
		width: 100%;
	}
}
@media all and (max-width: 600px) {
	#feature div.right div.items {
		width: 100%;
		margin-bottom: 20px;
	}
	#feature div.right {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
}
@media all and (max-width: 480px) {
	#testimonial section.content div.content {
		margin: 0;
	}
	h2 {
		font-size: 30px !important;
	}
	#courses section.title {
		margin-bottom: 50px;
	}
	#count {
		margin-bottom: 50px;
		background: linear-gradient(to bottom, #31aafa, #00f0fc);
	}
	#count ul li {
		text-align: center;
		width: 100%;
	}
	#spotlight div.left a.button {
		padding: 10px 8px;
	}
	#spotlight div.left h1 {
		font-size: 35px;
	}
	#spotlight div.left span small {
		width: 20px;
	}
	#advance_features div.left div.bottom ul li {
		width: 100%;
	}
}
